
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}Admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="{__PUBLIC__}Admin/css/main.css"/>
    <script type="text/javascript" src="{__PUBLIC__}Admin/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="{__PUBLIC__}Admin/js/jquery.js"></script>
    <script type="text/javascript" src="{__PUBLIC__}Plugins/laydate/laydate.js"></script>
    <script type="text/javascript" src="{__PUBLIC__}Plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        window.onload=function(){
            var ptime=document.getElementById('ptime');
            var d = new Date();
            var year=d.getFullYear();
            var month=d.getMonth()+1;
            month=month<10?'0'+month:month;

            var day=d.getDate();
            day=day<10?'0'+day:day;

            var str=year+'-'+month+'-'+day;

            ptime.value=str;

            var hits=(500-50)*Math.random()+50;
            hits=Math.round(hits);
            document.getElementById('hits').value=hits
        }
    </script>
</head>
<body>


<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="index.html">首页</a></li>
                <li><a href="#" target="_blank">网站首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <!-- 导航栏 -->
         {include file='../public/sessionInfo.html'}
        </div>
    </div>
</div>
<div class="container clearfix">
    
    <!--左侧菜单栏-->
    
    <!--左侧菜单栏 begin-->
       {include file='../public/left.html'}

    <!--左侧菜单栏 begin-->
    
    <!--右侧主操作区-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i>
                <a href="?p=back">首页</a>
                <span class="crumb-step">&gt;</span>
                <span class="crumb-name">博文管理</span>
                <span class="crumb-step">&gt;</span>
                <span class="crumb-name">添加博文</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="?m=admin&c=article&a=addhandle" method="post" id="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>所属分类：</th>
                                <td>
                                   <select name="cid">
                                       <option value="">请选择</option>
                                       {foreach $cate as $val}
                                       <option {if $val.categoryid == $smarty.get.categoryid}selected{/if} style="padding-left:{$val.lev*15}px;" value='{$val.categoryid}'>{$val.name}</option>
                                       {/foreach}                                   </select>
                                       
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" name="title" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>发布时间：</th>
                                <td>
                                    <input onclick="laydate()" class="common-text required" id="ptime" name="ptime" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>作者：</th>
                                <td>
                                    <input class="common-text required" name="author" size="50" value="admin" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>关键字：</th>
                                <td>
                                    <input class="common-text required" name="keywords" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>别名：</th>
                                <td>
                                    <input class="common-text required" name="alias" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                            <th><i class="require-red">*</i>图片：</th>
                                <td>
                                    <input class="require" name="myfile"  type="file">
                                </td>

                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>点击量：</th>
                                <td>
                                    <input class="common-text required" id="hits" name="hits" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>描述：</th>
                                <td>
                                    <textarea name="description" class="common-textarea" cols="100" rows="5"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>内容：</th>
                                <td>
                                    <textarea name="content" id="con" class="common-textarea" cols="100" rows="20"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        </div>

    </div>
    <!--/右侧主操作区-->
</div>
<script type="text/javascript">
    CKEDITOR.replace("con",{
        customConfig:'custom.js',
        extraPlugins:'codesnippet',
        codeSnippet_theme:'Pojoaque'
    });
</script>
<script>
;!function(){

//laydate.skin('molv');
laydate.skin('dahong')
laydate({
   elem: '#ptime'
})

}();
</script>
</body>
</html>