<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>黑色Html5响应式个人博客模板——主题《如影随形》</title>
<meta name="keywords" content="个人博客模板,博客模板,响应式" />
<meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
<link href="{__PUBLIC__}Home/css/base.css" rel="stylesheet">
<link href="{__PUBLIC__}Home/css/style.css" rel="stylesheet">
<link href="{__PUBLIC__}Home/css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="{__PUBLIC__}Home/js/modernizr.js"></script>
<![endif]-->
<link rel="stylesheet" href="{__PUBLIC__}highlight/school_book.css">
<script src="{__PUBLIC__}highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
<div class="ibody">
   {include file='../Public/header.html'}

  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">首页</a>
  {foreach $postion as $value}
    >
    <a href="index.php?c=List&categoryid={$value.categoryid}&type={if $value.parent_id==0}da{else}xiao{/if}">{$value.name}</a>{/foreach}</h2>
    <div class="index_about">
      <h2 class="c_titile">{$row.title}</h2>
      <p class="box_c"><span class="d_time">发布时间：{$row.ptime}</span>
      <span>分类：{$row.name}</span>
      <span>浏览（{$row.hits}）</span>
      <span>评论览（14）</span></p>
      <ul class="infos">
        {$row.content}
      </ul>
      <div class="keybq">
        <p><span>关键字词</span>：黑色,个人博客,时间轴,响应式</p>
      </div>
      <div class="nextinfo">
      {if isset($up.title)}
        <p>上一篇：<a href="index.php?c=Article&articleid={$up.articleid}&categoryid={$up.categoryid}">{$up.title}</a></p>
      {/if}
      {if isset($next.title)}
        <p>下一篇：<a href="index.php?c=Article&articleid={$next.articleid}&categoryid={$next.categoryid}">{$next.title}</a></p>
        {/if}
      
      </div>
      <!--评论 start-->
            <div class="pinglun">
                <h2>精彩评论</h2>
                <ul>

                    <li>
                    {foreach $pinglun as $key=>$val}
                      <div  style="padding-left:{$val.lev*60}px;">
                        <img src="{$val.face}">
                        <div class="parea">
                            <div class="sender">{$val.username}</div>
                            <p class="pcontent">{$val.content}</p>
                            <div>
                                <span>{$val.ctime|date_format:"%Y-%m-%d"}</span>
                            </div>
                        </div>
                      </div>
                        {if isset($smarty.session.uname)}
                        <div align="right"><a href ="#" onclick="document.form{$val.id}.style='display:block;'">回复</a></div>
                <form name="form{$val.id}" style="display:none;" action="?c=Comment&a=huifu&userid={$val.userid}&commentid={$val.id}&articleid={$val.articleid}&categoryid={$smarty.get.categoryid}" method="post">
                    <textarea name="content"></textarea>
                    <input type="submit" value="回复">
                </form>
                {else}
                <p style="color:#02231; font-size:16px; padding:8px;">如果想回复，先<a href="index.php?c=Login&a=login">登录</a>
                {/if}
                        {/foreach}
                    </li>
                    
                </ul>
                {if isset($smarty.session.uname)}
                <form name="form" style="display:block" action="?c=Comment&a=addComment&categoryid={$smarty.get.categoryid}" method="post">
                    <textarea name="content"></textarea>
                    <input type="hidden" name="articleid" value="{$smarty.get.articleid}">
                    <input type="submit" value="发表">
                </form>
                {else}
                <p style="color:#02231; font-size:16px; padding:8px;">如果想评论，先<a href="index.php?c=Login&a=login">登录</a>
                {/if}
            </div>
            <!--评论 end-->
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
          <li><a href="/news/s/2013-07-25/524.html" title="现在，我相信爱情！">现在，我相信爱情！</a></li>
          <li><a href="/newstalk/mood/2013-07-24/518.html" title="我希望我的爱情是这样的">我希望我的爱情是这样的</a></li>
          <li><a href="/newstalk/mood/2013-07-02/335.html" title="有种情谊，不是爱情，也算不得友情">有种情谊，不是爱情，也算不得友情</a></li>
          <li><a href="/newstalk/mood/2013-07-01/329.html" title="世上最美好的爱情">世上最美好的爱情</a></li>
          <li><a href="/news/read/2013-06-11/213.html" title="爱情没有永远，地老天荒也走不完">爱情没有永远，地老天荒也走不完</a></li>
          <li><a href="/news/s/2013-06-06/24.html" title="爱情的背叛者">爱情的背叛者</a></li>
        </ul>
      </div>
    </div>
  </article>
  <aside>
    <div class="rnav">
    {foreach $child as $key=>$val}
      <li class="rnav{$key+1}"><a href="index.php?c=List&categoryid={$val.categoryid}&type=xiao">{$val.name}</a></li>
    {/foreach}
      <!-- <li class="rnav2 "><a href="/">欣赏</a></li>
      <li class="rnav3 "><a href="/">程序人生</a></li>
      <li class="rnav4 "><a href="/">经典语录</a></li> -->
    </div>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
      {foreach $hits as $key=>$val}
        <li><span {if $key+1 < 4}class="num{$key+1}"{/if}>{$key+1}</span><a href="index.php?c=Article&articleid={$val.articleid}&categoryid={$val.categoryid}">{$val.title}</a></li>
        {/foreach}
        <!-- <li><span class="num2">2</span><a href="/">励志人生-要做一个潇洒的女人</a></li>
        <li><span class="num3">3</span><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>
        <li><span>4</span><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
        <li><span>5</span><a href="/">女生清新个人博客网站模板</a></li>
        <li><span>6</span><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
        <li><span>7</span><a href="/">Column 三栏布局 个人网站模板</a></li>
        <li><span>8</span><a href="/">时间煮雨-个人网站模板</a></li>
        <li><span>9</span><a href="/">花气袭人是酒香—个人网站模板</a></li> -->
      </ul>
      <h2>
        <p>栏目推荐</p>
      </h2>
      <ul>
      {foreach $hotClass as $key=>$val}
        <li><a href="index.php?c=List&categoryid={$val.categoryid}&type={if $val.parent_id==0}da{else}xiao{/if}">{$val.name}</a></li>
        {/foreach}
        <!-- <li><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>
        <li><a href="/">励志人生-要做一个潇洒的女人</a></li>
        <li><a href="/">女孩都有浪漫的小情怀——浪漫的求婚词</a></li>
        <li><a href="/">Green绿色小清新的夏天-个人博客模板</a></li>
        <li><a href="/">女生清新个人博客网站模板</a></li>
        <li><a href="/">Wedding-婚礼主题、情人节网站模板</a></li>
        <li><a href="/">Column 三栏布局 个人网站模板</a></li>
        <li><a href="/">时间煮雨-个人网站模板</a></li>
        <li><a href="/">花气袭人是酒香—个人网站模板</a></li> -->
      </ul>
      <h2>
        <p>最新评论</p>
      </h2>
      <ul class="pl_n">
      {foreach $newPinglun as $val}
        <dl>
          <dt><img src="{$val.face}"> </dt>
          <dt> </dt>
          <dd>{$val.username}
            <time>{$val.ctime|date_format:"%Y-%m-%d"}</time>
          </dd>
          <dd><a href="index.php?c=Article&articleid={$val.articleid}&categoryid={$val.cid}">{$val.content}</a></dd>
        </dl>
        {/foreach}
      </ul>
      <h2>
        <p>最近访客</p>
        <ul>
          <img src="{__PUBLIC__}Home/images/vis.jpg"><!-- 直接使用“多说”插件的调用代码 -->
        </ul>
      </h2>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="{__PUBLIC__}Home/js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
